*{
    padding: 0px;
    margin: 0px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.icon{
    margin-top: 35%;
    width: 100%;
}
.splash{
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(253, 246, 253, 0.2) 0%, rgba(200, 98, 197, 0.8) 100%);
}
.text1{
    position: absolute;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-size: 28px;
    line-height: 5px;
    left: calc(50% - 363px/2 + 6px);
    /* identical to box height */
    color: #FFFFFF;
    bottom:22%;

}

.text2{
    position: absolute;
    left: calc(45% - 305px/2);
    font-family: 'Kotta One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #F3DAF4;
    bottom:15%;
}
.start{
    border: none;
    position: absolute;
    width: 161px;
    height: 57px;
    left: calc(50% - 161px/2);
    bottom: 3%;
    background: #AE4BA9;
    border-radius: 17px;
    color: #FFFFFF;
}

.name{
    position: absolute;
    width: 128px;
    height: 58px;
    left: calc(50% - 128px/2 + 3.5px);
    top: 5%;

    font-family: 'Kotta One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    color: #763270;
}
